html {
    background-color:#3b80dc;
    font-family:'Courier New';

}

h1 {
    text-align:center;
    font-size: 75px;
    background-color:#A9F358;
    border: 5px solid #6fc70e;
    box-shadow: 10px 10px;
    margin: 15px;

}

h3 {
    font-size: 50px;
    background-color:#FED834;
    border: 5px solid #bfa329;
    box-shadow: 10px 10px;

}

h4 {
    font-size: 35px;
    background-color:#34f4fe;
    border: 5px solid #296fbf;
    box-shadow: 10px 10px;

}

h5 {
    font-size: 25px;
    background-color:#fe3434;
    border: 5px solid #000000;

}

div {
    text-align:center;

}

input, textarea {
    font-size: 25px;
    border: 5px solid;
    box-shadow: 10px 10px;

}

button {
    font-size: 30px;
    border-color: black;
    box-shadow: 5px 5px;

}

.selected {
    font-size: 27px;
    filter: brightness(50%);
    border-color: black;
    box-shadow: 5px 5px;

}

footer {
    text-align:center;
    position: bottom;

}