html {
    background-color:#3b80dc;
    font-family:'Courier New';

}

h1 {
    text-align:center;
    font-size: 75px;
    background-color:#A9F358;
    border: 5px solid #6fc70e;
    box-shadow: 10px 10px;
    margin: 15px;

}

h3 {
    font-size: 50px;
    background-color:#FED834;
    border: 5px solid #bfa329;
    box-shadow: 10px 10px;

}

div {
    text-align:center;

}

table {
    font-size: 20px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#d8b92e;
    border: 3px solid rgb(193, 165, 44);

}

th {
    border-bottom:5px solid rgb(193, 165, 44);
}

button {
    font-size: 30px;
    border-color: black;
    box-shadow: 5px 5px;

}

input.checkBox {
    transform: scale(1.5);

}

.selected {
    font-size: 27px;
    filter: brightness(50%);
    border-color: black;
    box-shadow: 5px 5px;

}

button.collapse {
    width: 100%;
    box-shadow: 0px 0px;

}

button#deleteButton {
    font-size: 15px;
    background-color: #e48686;
    border-color: black;
    box-shadow: 0px 0px;

}

footer {
    text-align:center;
    position: bottom;

}